/* app css stylesheet */

/*Content to the right of the sidebar*/
.our-content {
  padding-left: 240px;
  padding-right: 20px;
}
/*For the edit title button icon*/
.title .icon {
  margin-left: 10px;
}
/*Hides the border for the add card buttons*/
.button.addCard {
  border-style: none;
  margin-top: 10px;
}
#home-container .card{
  /*border-radius: 20px;*/
  margin-left: 60px;
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0 0 5px #888;
  transition: all 0.3s ease-in-out;
}

#home-container .card h1{
  font-size: 35px;
}
#home-container img{
  cursor: pointer;
}
.chart-container{
  padding: 50px;
  padding-top: 0;
}

/* Loading symbol */
.loader-frame {
  width: 200px;
  height: 200px;
  margin-top: 15%;
  margin-left: 40%;
  position: relative;
}
.loader1, .loader2 {
  position: absolute;
  border: 5px solid transparent;
  border-radius: 50%;
}
.loader1 {
  width: 200px;
  height: 200px;
  border-top: 10px solid gray;
  border-bottom: 10px solid gray;
  animation: clockwisespin 2s linear infinite;
}
.loader2 {
  width: 180px;
  height: 180px;
  border-left: 10px solid #00d1b2;
  border-right: 10px solid #00d1b2;
  top: 10px; left: 10px;
  animation: anticlockwisespin 2s linear infinite;
}
/*Font*/
@font-face {
    font-family: outrunFuture;
    src: url('../fonts/outrun_future/outrun-future.otf');
}

#story-lines{
  padding: 3vh 0 3vh 3vw;
  text-align: center;
}
#story-lines .subtitle{
  font-family: outrunFuture;
}
#login{
    /* To center the div*/
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    padding: 20px;
    background-color: #cccccc;
    box-shadow: 10px 10px 30px #888888;
    text-align: center;
}

.project{
    margin-top: 0;
    margin-bottom: 20px;
}
#lists-container{
  padding: 0 7vw 0 7vw;
}
#rowHeader  {
    margin-bottom: 0 !important;
}
hr {
    margin-top: 10px;
}

#card1 {
  border-radius: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  padding: 0;
  min-width: 200px;
  max-width: 200px;
  position: relative;
}
#card1.high-priority{
  background-color: #ff3860;
}
#card1.medium-priority{
  background-color: #ffdd57;
}
#card1.low-priority{
  background-color: #23d160;
}
#card1 a{
  color: #000;
}
#card1 a:hover{
  color: #fff;
}
#card1 .card-header-title{
  justify-content: center;
}
.card-footer-item:not(:last-child) {
    border-right: 1px solid #dbdbdb;
}

.card-footer{
    margin-top: auto;
}
.card-row {
  margin-right: 25px;
  overflow-x: hidden;
}
.card-content .sub-menu{
  top: 52%;
  left: 45%;
}

a#dropdownShowDetails:hover{
  color: #444;
}

.modal-card{
  box-shadow: 2px 0px 10px #888888;
}


#plannerHubView.title {
    margin-bottom: 20px;
}
.chart-title{
    text-align: center;
}
.fixed-width{
    width: 75%;
}
.planner-hub-wrapper{
  overflow-x: auto;
  overflow-y: hidden;
}

.help{
  width: 100%;
  padding-right: 50px;
  display: inline-flex;
  text-align: left;
  justify-content: flex-end;
}

.mobile-menu{
  display: none;
}

.fixed-height-card{
    border-radius: 20px;
    min-height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.card-wrapper{
    overflow-y: auto;
    overflow-x: hidden;
    height: 55vh;
    background: rgba(211, 211, 211, 0.7);
    border-radius: 20px;
}
.no-box{
    border: 0 solid;
    background: none;
}
.emph {
  color: red;
}
.hover-red:hover {
  cursor: pointer;
  color: hsl(14, 100%, 53%);
}
.hover-blue:hover {
  cursor: pointer;
  color: hsl(217, 71%, 53%)
}
.sub-menu{
  position: absolute;
  top: 60%;
  left: 60%;
  z-index: 1;
  box-shadow:0 2px 3px rgba(0,0,0,0.2);
  border-radius: 3px;
  background:#303030;
  padding: 10px;
}
.sub-menu a {
    color: white;
}
.sub-menu a:hover {
    color: gray;
}
.select .resized {
}
.is-overflow {
  overflow-y: auto;
}
.no-overflow {
  overflow-y: hidden;
}
/*Sidebar*/
.sidebar {
    height: 100%;
    width: 220px;
    position: fixed;
    /* Give the sidebar flexbox properties*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e8e8e8;
    box-shadow: 2px 0px 10px #888888;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 0px;
    padding-bottom: 10px;
}
#large-logo{
  display: block;
}
#small-logo{
  display: none;
}

@media only screen and (max-width: 640px){
  .menu a.is-active{
    color: #00d1b2; !important;
  }

  #card1{
    margin: auto;
    margin-bottom: 10px;
    float: initial;
  }
  .card-row{
    justify-content: center;
    margin-right: 0;
    text-align: center;
  }
  #desktop-menu{
    display: none;
  }
  #header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 200;
  }
  #large-logo{
    display: none;
  }
  .our-content{
    margin-top: 120px;
  }
  .loader-frame{
    width: 100px;
    height: 100px;
    margin-top: 15%;
    margin-left: 20%;
  }
  .mobile-menu{
    display: initial;
    text-align: center;

  }
  .mobile-menu .menu{
    position: relative;
    display: inline-block;
    z-index: 100;
  }
  .mobile-menu .subtitle{
    font-family: outrunFuture;
    font-size: 14px;
    margin-bottom: 0;
  }
  .menu ul.active{
    display: none;
  }
  .menu ul{
    width:120px;
    position:absolute;
    z-index: 100;
    top:120%;
    left:0;
    padding:10px 18px;
    box-shadow:0 1px 1px rgba(0,0,0,0.15);
    border-radius:3px;
    background:#303030;
  }
  .menu ul:after {
    width:0px;
    height:0px;
    position:absolute;
    top:0%;
    left:22px;
    content:'';
    transform:translate(0%, -100%);
    border-left:7px solid transparent;
    border-right:7px solid transparent;
    border-bottom:7px solid #303030;
  }

  .menu li {
    margin:5px 0px 5px 0px;
    float:none;
    display:block;
  }

  .menu a {
    display:block;
  }
  .no-overflow {
    overflow-y: auto;
  }
  #small-logo{
    margin: auto;
    display: block;
  }
  .toggle-nav {
    margin-left: 10px;
    float:left;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
    color:#777;
    font-size:20px;
    transition:color linear 0.15s;
  }

  .toggle-nav:hover, .toggle-nav.active {
    text-decoration:none;
    color:#66a992;
  }

  .our-content{
    padding: 0;
  }
  .sidebar{
    display: none;
  }
  .planner-hub-wrapper{
    display: none;
  }

  #home-container .card{
    margin: 40px;
  }
}
@media only screen and (min-width: 640px){
  .planner-hub-mobile{
    display: none;
  }

  #home-container .card:hover{
    transform: scale(1.1, 1.1);
  }
  /* Box-shadow animation */
  #home-container .card::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-shadow: 0 0 40px #888;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  #home-container .card:hover::after{
    opacity: 1;
  }

}

.sidebar a {
    margin-left: 0px;
    width: 100%;
}
.sidebar#profile-pic{
    margin-left: 20px;
}
.sidebar#profile{
    position: absolute;
    margin-bottom: 10px;
}
.fa-user-circle {
  color: #00d1b2;
}
.button {
  border-radius: 0px;
}
.menu-list.projects {
  height: 400px;
  overflow-y: auto;
}
.animate-hide {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    line-height:20px;
    opacity:1;
    padding:10px;
    border:1px solid black;
    background:white;
    position: absolute;
    left: 0;
}
.animate-hide.ng-hide {
    left: -100%;
    opacity:0;
    padding:0 10px;
}
/*Projects in sidebar animations*/
.repeat-project.ng-enter {
  animation: 1s fade_in;
  -webkit-animation: 1s fade_in;
}
.repeat-project.ng-enter-stagger {
  animation-delay: 0.1s;
  animation-duration: 0s;
}
.repeat-project.ng-leave {
  background-color: red;
  animation: 1s slide_out;
}
/*User Screen*/
.user-wrapper {
    padding: 10px;
    padding-top: 80px;
    background-color: #FFF;
}
form.ng-dirty input.ng-invalid {
    border: 1px solid #B02B2C;
}
form.ng-dirty input.ng-valid {
    border: 1px solid #6BBA70;
}
.Feature {
    background: #F9F7ED;
}
.Enhancement {
    background: #FFFF88;
}
.Bug {
    background: #CDEB8B;
}
.Spike {
    background: #C3D9FF;
}
.edit input {
    border: 1px solid #ffffff;
    width: 100%;
    resize: none;
    background-color: #ffffff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.edit input:hover,
.edit input:focus {
    border: 1px solid #d7cebf;
    outline: none
}
.form-signin {
    min-height: 215px;
    max-width: 100%;
    line-height: 1.428571429;
    width: 400px;
    padding: 20px;
    margin: 80px auto 20px;
    position: relative;
}
.form-signin .a0-panel.a0-onestep {
    width: 100% !important;
}
.form-signin input {
    max-width: none !important;
}
.form-signin button {
    background: none;
    border: none;
    box-shadow: none;
}
.form-signin button:hover {
    background: none;
    border: none;
    box-shadow: none;
}
.form-signin .large {
    color: #333;
    font-size: 24px;
    font-weight: bold;
}
.error {
  color: red;
}
.form-signin input[type=text],
.form-signin input[type=email],
.form-signin input[type=password],
.create textarea {
    outline: none;
    width: 100%;
    resize: none;
    margin-bottom: 5px;
}
/* Keyframes */
@keyframes fade_in {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
  }
}
@keyframes slide_out {
  from {opacity: 1;}
  to {
    opacity: 0;
    transform: translateX(-200px);
  }
}
@keyframes clockwisespin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@keyframes anticlockwisespin {
   from {transform: rotate(0deg);}
   to {transform: rotate(-360deg);}
}
