.project{
    margin-top: 0px;
    margin-bottom: 20px;
}
#rowHeader  {
    margin-bottom: 0px !important;
}
hr {
    margin-top: 10px;
}
#card1 {
    border-radius: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

#card1.high-priority{
  background-color: #ff3860;
}
#card1.medium-priority{
  background-color: #ffdd57;
}
#card1.low-priority{
  background-color: #23d160;
}
#card1 a{
  color: #000;
}
#card1 a:hover{
  color: #fff;
}
a#dropdownShowDetails:hover{
  color: #444;
}

.modal-card{
box-shadow: 2px 0px 10px #888888;
}
.card-footer{
    margin-top: auto;
}

.card-row {
    margin-right: 25px;
}


.card-content{

}

.card-content .sub-menu{
    top: 52%;
    left: 45%;

}
