.project{
    margin-top: 0px;
    margin-bottom: 20px;
}
#rowHeader  {
    margin-bottom: 0px !important;
}
hr {
    margin-top: 10px;
}
#card1 {
    border-radius: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.modal-card{
box-shadow: 2px 0px 10px #888888;
}
.card-footer{
    margin-top: auto;
}

