.project{
    margin-top: 0px;
    margin-bottom: 20px;
}
#rowHeader  {
    margin-bottom: 0px !important;
}
hr {
    margin-top: 10px;
}
.card {
    border-radius: 20px;
    margin-left: 10px;
    /*background-color: #28a745;*/
}
/*nav ul li {
    display: none; 
    position: absolute;
    top=100%;
}

nav ul li:hover >ul{
    display: inherit;
} */

