<ng-include src="'sidebar/sidebar.html'" ng-controller="SidebarController"></ng-include>

<div class="our-content" ng-controller="MyStoriesController">
  <div class="project" ng-repeat="board in boards">
    <h1 id="rowHeader" class="title">{{board.name}}</h1>
    <hr>
    <div class="columns">
      <div class="card" ng-repeat="card in board.cards">

  <header class="card-header">
    <p class="card-header-title">
      {{card.name}}
        </p>
       <div class="bu-dropdown">
           <a class="card-header-icon">
      <span class="icon">
        <i class="fa fa-angle-down"></i>
      </span>
           </a>
            <div class="bu-dropdown-body">
     <div class="bu-is-right">
    <nav class="menu">
      <ul class="menu-list">
        <li>
<div class="field-body">
    <div class="field is-narrow">
      <div class="control">
        <div class="select is-fullwidth">
          <select id="followUp" ng-model="selectedValue"
    ng-class="styleOptions[selectedValue]">
              <option value=""></option>
            <option class="fa  fa-flag blue" value="1" ng-click="">One &#xf024;</option>
   <option class="fa  fa-flag violet" value="2">Two &#xf024;</option>
   <option class="fa  fa-flag yellow" value="3">Three &#xf024;</option>
   <option class="fa  fa-flag red" value="4">Four &#xf024;</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</li>
        <li><a ng-click="showdetails()">Details</a></li>
        <li><a> Attach </a></li>
        <li><a> Delete </a></li>
      </ul>
    </nav>
  </div>
      </div>
      </div>
          </header>
  <footer class="card-footer">
    <a class="card-footer-item">Done</a>
  </footer>
          <!-- popup window -->
  <div class="modal is-active" ng-if="showModal">
<!--  <div class="modal-background"></div>-->
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <a class="button is-success" ng-click="save()">Save changes</a>
      <a class="button" ng-click="cancel()">Cancel</a>
    </footer>
  </div>
</div>    
</div>
      </div>
  </div>
</div>
