<ng-include src="'sidebar/sidebar.html'" ng-controller="SidebarController"></ng-include>

<div class="our-content" ng-controller="MyStoriesController">
  <div class="project" ng-repeat="board in boards">
    <h1 id="rowHeader" class="title">{{board.name}}</h1>
    <hr>
      <div class="columns">
      <div class="card" ng-repeat="card in board.cards">
  <header class="button card-header">
    <p class="card-header-title">
      {{card.name}}
        </p>
       <div class="bu-dropdown">
           <a class=" card-header-icon">
      <span class="icon">
        <i class="fa fa-angle-down"></i>
      </span>
           </a>
            <div class="bu-dropdown-body">
     <div class="bu-is-right">
    <nav class="menu">
      <ul class="menu-list">
        <li><a> Labels </a></li>
          <ul>
              <li> colors </li>
          </ul>
        <li><a> Attach</a></li>
        <li><a> Delete </a></li>
      </ul>
    </nav>
  </div>
      </div>
      </div>
          </header>
 <!-- <div class="card-content">
    <div class="content">
    </div>
  </div> -->
  <footer class="card-footer">
    <a class="card-footer-item">Done</a>
  </footer>
</div>
      </div>
   <!-- <div class="columns">
      <div class="column is-2 card" ng-repeat="card in board.cards">
        <h5 class="title is-5">{{card.name}}
          <span class="icon is-small">
  <i class="fa fa-plus"></i>
</span> </h5>
      </div>
    </div> -->
  </div>
</div>
