.project{
    margin-top: 0px;
    margin-bottom: 20px;
}
#rowHeader  {
    margin-bottom: 0px !important;
}
hr {
    margin-top: 10px;
}
#card1 {
    border-radius: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.modal-card{
box-shadow: 2px 0px 10px #888888;
}
.card-footer{
    margin-top: auto;
}

.card-row {
    margin-right: 25px;
}

.card-content .sub-menu{
    top: 52%;
    left: 45%;

}
.card-label-red{
	background: #ff0000;
}
.card-label-yellow{
	background: yellow;
}
.card-label-green{
	background: green;
}