<!-- My stories view -->
<div class="our-content">
  <!-- Loading screen -->
  <div class="loader-frame" ng-if="loading">
    <div class="loader1"></div>
    <div class="loader2"></div>
  </div>

  <div class="project" ng-repeat="board in boards()" ng-show="!projectEmpty(board)">
    <h1 id="rowHeader" class="title">{{board.name}}</h1>
    <hr>
    <div class="columns card-row">
      <div class="card column is-2" ng-class="getLabelClass(card)" id="card1" ng-repeat="card in board.myCards" ng-if="card.idList!=listId(board.id ,'Done')">
        <p class="card-header-title">
          {{card.name}}
        </p>
        <footer class="card-footer">
          <a class="card-footer-item" ng-click="showDetails(card)">Details</a>
			    <a class="card-footer-item" ng-click="movecard(card, 'Done')">Done</a>
        </footer>
      </div>
    </div>
  </div>
  <!-- popup window -->
  <div class="modal is-active" ng-if="showEdit">  <!-- ng-if gets its own scope-->
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title fixed-width">{{clickedCard.name}}</p>
        <button ng-click="cancel()" class="delete"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
        <div class="field">
          <label class="label">Description</label>
          <p class="control">
            {{clickedCard.desc}}
          </p>
        </div>
      </section>
      <footer class="modal-card-foot">
        <a class="button is-success" ng-click="done()">Done</a>
      </footer>
    </div>
  </div>
</div>
