/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

/*Content to the right of the sidebar*/
.our-content {
  padding-left: 240px;
  padding-right: 20px;
}

/*The title in each board for a specific project*/
.title.board {
  border-width: 0px 0px 2px 0px;
  border-color: #c6c5c5;
  border-style: solid;
  padding-bottom: 10px;
  /*TODO: This gets overridden by title's margin. It should not!*/
  margin-bottom: 10px;
}

/*For the edit title button icon*/
.title .icon {
  margin-left: 10px;
}

/*Hides the border for the add card buttons*/
.button.addCard {
  border-style: none;
  margin-top: 10px;
}

/* Loading symbol */

.loader-frame {
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 15%;
  margin-left: 40%;
  position: relative;
}

.loader1, .loader2 {
  position: absolute;
  border: 5px solid transparent;
  border-radius: 50%;
}

.loader1 {
  width: 200px;
  height: 200px;
  border-top: 10px solid gray;
  border-bottom: 10px solid gray;
  animation: clockwisespin 2s linear infinite;
}

.loader2 {
  width: 180px;
  height: 180px;
  border-left: 10px solid #00d1b2;
  border-right: 10px solid #00d1b2;
  top: 10px; left: 10px;
  animation: anticlockwisespin 2s linear infinite;
}

@keyframes clockwisespin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@keyframes anticlockwisespin {
   from {transform: rotate(0deg);}
   to {transform: rotate(-360deg);}
 }
