/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

/*Content to the right of the sidebar*/
.our-content {
  padding-left: 240px;
  padding-right: 20px;
}

/*The title in each board for a specific project*/
.title.board {
  border-width: 0px 0px 2px 0px;
  border-color: #c6c5c5;
  border-style: solid;
  padding-bottom: 10px;
  /*TODO: This gets overridden by title's margin. It should not!*/
  margin-bottom: 10px;
}

/*For the edit title button icon*/
.title .icon {
  margin-left: 10px;
}

/*Hides the border for the add card buttons*/
.button.addCard {
  border-style: none;
  margin-top: 10px;
}

.hero {

}