.sidebar {
    height: 100%;
    width: 220px;
    position: fixed;
    /* Give the sidebar flexbox properties*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e8e8e8;
    box-shadow: 2px 0px 10px #888888;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 0px;
    padding-bottom: 10px;
}
.sidebar a {
    margin-left: 0px;
    /* This will mess upp padding in New Project */
    /*display: block;*/
    width: 100%;
    /*padding-bottom: 0px;*/
}
.sidebar#profile-pic{
    margin-left: 20px;
}
.sidebar#profile{
    position: absolute;
    margin-bottom: 10px;
    /*bottom: 50px;*/
}
.fa-user-circle {
  color: #00d1b2;
}
.button {
  border-radius: 0px;
}
.menu-list.projects {
  height: 400px;
  overflow-y: auto;
}

.animate-hide {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    line-height:20px;
    opacity:1;
    padding:10px;
    border:1px solid black;
    background:white;
    position: absolute;
    left: 0;
}

.animate-hide.ng-hide {
    left: -100%;
    opacity:0;
    padding:0 10px;
}

/*Projects in sidebar animations*/
.repeat-project.ng-enter {
  animation: 1s fade_in;
}
/*Not working*/
.repeat-project.ng-enter-stagger {
  transition-delay: 1s;
}
.repeat-project.ng-leave {
  background-color: red;
  animation: 1s slide_out;
}

/* Keyframes */
@keyframes fade_in {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {opacity: 1;}
}

@keyframes slide_out {
  from {opacity: 1;}
  to {
    opacity: 0;
    transform: translateX(-200px);
  }
}
