.fixed-height-card{
    border-radius: 20px;
    margin-left: 10px;
    min-height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.card-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    height: 50vh;
}

.no-box{
    border: 0 solid;
    background: none;
}

.emph {
  color: red;
}
