.fixed-height-card{
    border-radius: 20px;
    margin-left: 10px;
    min-height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.card-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    height: 50vh;
    background: rgba(211, 211, 211, 0.7);
    /*box-shadow: 0px 0px 3px;*/
    border-radius: 20px;

}
.no-box{
    border: 0 solid;
    background: none;
}
.emph {
  color: red;
}
.hover-red:hover {
  cursor: pointer;
  color: hsl(14, 100%, 53%);
}
.hover-blue:hover {
  cursor: pointer;
  color: hsl(217, 71%, 53%)
}

.sub-menu{
    position: absolute;
    top: 100%;
/*    display: none;*/
    z-index: 1;
/*    transition:opacity linear 0.15s;*/
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background: white;

}