<ng-include src="'sidebar/sidebar.html'" ng-controller="SidebarController"></ng-include>

<div class="our-content">
  <!-- TODO: Show board title -->
  <div class="columns">
    <!-- Board title with edit button -->
    <div class="column has-text-centered">
      <input ng-model="board.name" ng-init="editMode=false" ng-disabled="!editMode"
             ng-blur="saveTitle()" focus-me="isOpen"
             class="title is-3 has-text-centered no-box" size="{{board.name.length}}">
      <span ng-click="editTitle()" class="icon is-medium">
          <i class="fa fa-pencil"></i>
        </span>
      </input>
    </div>
  </div>

  <!--Display the different lists -->
  <!-- TODO: Always show the default lists and see if there exists cards for those -->
  <!-- TODO: Filter to show only the four lists -->
  <div class="columns">
    <div class="column has-text-centered" ng-repeat="list in listsToShow">
      <p class="title is-4 board">
        {{list}}
      </p>
      <div class="card-wrapper">
        <!-- Go through all cards -->
        <span ng-repeat="card in board.cards">
          <!-- Only show cards that are assigned to this list -->
          <span ng-if="card.idList==listId(list)">
            <div class="column is-12">
              <div class="card fixed-height-card">
                <p class="card-header-title">
                  {{card.name}}
                </p>
                <div class="bu-dropdown">
                  <a class="card-header-icon">
                    <span class="icon">
                      <i class="fa fa-angle-down"></i>
                    </span>
                  </a>
                  <div class="bu-dropdown-body">
                    <nav class="menu">
                      <ul class="menu-list">
                        <li><a ng-click="showEditBox(card)">Edit</a></li>
                        <li><a ng-click="deleteCard(card)">Delete</a></li>
                        <li><a>Move</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
              <div class="dropdown-content">
              </div>
            </div>
          </span>
        </span>
      </div>
      <a ng-click="addCard(list)" class="button addCard">
          <span class="icon is-medium">
            <i class="fa fa-plus-square"></i>
          </span>
      </a>
    </div>
  </div>
  <div class="modal is-active" ng-if="showEdit">  <!-- ng-if gets its own scope-->
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title fixed-width">{{clickedCard.name}}</p>
        <button ng-click="cancel()" class="delete"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
        <div class="field">
          <label class="label">Name</label>
          <p class="control">
            <input data-ng-model="clickedCard.name" class="input" type="text"
                      placeholder="Name of the card">
            </input>
          </p>
        </div>

        <div class="field">
          <label class="label">Description</label>
          <p class="control">
            <textarea data-ng-model="clickedCard.desc" class="textarea"
                      placeholder="Write the description of the card here">
            </textarea>
          </p>
        </div>
      </section>
      <footer class="modal-card-foot">
        <a class="button is-success" ng-click="save()">Save changes</a>
        <a class="button" ng-click="cancel()">Cancel</a>
      </footer>
    </div>
  </div>
</div>
