<ng-include src="'sidebar/sidebar.html'" ng-controller="SidebarController"></ng-include>

<div class="our-content">
  <!-- TODO: Show board title -->
  <div class="columns">
    <!-- Board title with edit button -->
    <div class="column has-text-centered">
      <input ng-model="board.name" ng-init="editMode=false" ng-disabled="!editMode"
             ng-blur="saveTitle()" focus-me="isOpen"
             class="title is-3 has-text-centered" size="{{board.name.length}}">
        <span ng-click="editTitle()" class="icon is-medium">
          <i class="fa fa-pencil"></i>
        </span>
      </input>
    </div>
  </div>

  <!--Display the different lists -->
  <div class="columns">
    <div class="column has-text-centered" ng-repeat="list in lists">
      <p class="title is-4 board">
        {{list.name}}
      </p>
      <!-- TODO: Show cards for the specific lists in this board -->
      <div ng-repeat="card in list.cards" class="column is-12">
        <div class="card fixed-height-card">
          <p class="card-header-title">
            {{card.text}}
              </p>
          <a ng-click="" class="card-header-icon">
            <span class="icon">
              <i class="fa fa-angle-down"></i>
            </span>
          </a>
        </div>
      </div>
      <a ng-click="addCard(list.name)" class="button addCard">
        <span class="icon is-medium">
          <i class="fa fa-plus-square"></i>
        </span>
      </a>
    <!-- End of boards repeat -->
    </div>
  </div>
</div>
